html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.l-aside__button, .m-empty-cart__button, .m-cart__result-button {
  -webkit-transition: background-color 0.3s ease 0s;
  -moz-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  will-change: background-color;
  height: 50px;
  line-height: 50px;
  margin: 10px auto;
  padding: 0;
  border: 0;
  clear: both;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  background-color: #ffffff;
  display: block;
  text-transform: uppercase;
  color: #303030;
  letter-spacing: 0.06em;
  text-align: center;
  font-family: "ALSDirectGorkyPark";
  font-size: 14px; }
  .l-aside__button:hover, .m-empty-cart__button:hover, .m-cart__result-button:hover {
    background-color: #faedd4; }

.m-shop-unit__figure {
  position: relative;
  overflow: hidden; }
  .m-shop-unit__figure img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none;
    z-index: 0; }

@font-face {
  font-family: "ALSDirectGorkyPark";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/ALSDirectGorkyPark/regular.eot?#iefix") format("embedded-opentype"), url("/fonts/ALSDirectGorkyPark/regular.woff2") format("woff2"), url("/fonts/ALSDirectGorkyPark/regular.woff") format("woff"), url("/fonts/ALSDirectGorkyPark/regular.ttf") format("truetype"), url("/fonts/ALSDirectGorkyPark/regular.svg#ALSDirectGorkyPark") format("svg"); }

@font-face {
  font-family: "PTSerif";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/PTSerif/regular.eot?#iefix") format("embedded-opentype"), url("/fonts/PTSerif/regular.woff2") format("woff2"), url("/fonts/PTSerif/regular.woff") format("woff"), url("/fonts/PTSerif/regular.ttf") format("truetype"), url("/fonts/PTSerif/regular.svg#PTSerif") format("svg"); }

@font-face {
  font-family: "PTSerif";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/PTSerif/bold.eot?#iefix") format("embedded-opentype"), url("/fonts/PTSerif/bold.woff2") format("woff2"), url("/fonts/PTSerif/bold.woff") format("woff"), url("/fonts/PTSerif/bold.ttf") format("truetype"), url("/fonts/PTSerif/bold.svg#PTSerif") format("svg"); }

@font-face {
  font-family: "PTSerif";
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/PTSerif/italic.eot?#iefix") format("embedded-opentype"), url("/fonts/PTSerif/italic.woff2") format("woff2"), url("/fonts/PTSerif/italic.woff") format("woff"), url("/fonts/PTSerif/italic.ttf") format("truetype"), url("/fonts/PTSerif/italic.svg#PTSerif") format("svg"); }

@font-face {
  font-family: "PTSerif";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/PTSerif/bolditalic.eot?#iefix") format("embedded-opentype"), url("/fonts/PTSerif/bolditalic.woff2") format("woff2"), url("/fonts/PTSerif/bolditalic.woff") format("woff"), url("/fonts/PTSerif/bolditalic.ttf") format("truetype"), url("/fonts/PTSerif/bolditalic.svg#PTSerif") format("svg"); }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/*
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 8/9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td {
  padding: 0; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dedede;
  color: #303030;
  min-width: 640px;
  font-size: 16px;
  font-family: "PTSerif"; }

h1 {
  margin: 0;
  font-size: 44px; }

a,
button {
  outline: 0;
  text-decoration: none; }

figure {
  margin: 0; }

img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%; }

.overflow-hidden {
  overflow: hidden; }

.md-no-border {
  border: 0 !important; }

.l-container {
  max-width: 1190px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0 30px;
  position: relative;
  overflow: hidden;
  clear: both; }
  .l-container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 1210px) {
    .l-container {
      max-width: 710px;
      margin-left: auto;
      margin-right: auto; }
      .l-container::after {
        clear: both;
        content: "";
        display: table; } }
  @media screen and (max-width: 770px) {
    .l-container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .l-container::after {
        clear: both;
        content: "";
        display: table; } }

.l-header {
  height: 80px;
  width: 100%;
  background-color: #ffffff;
  padding: 0 45px;
  z-index: 10000;
  min-width: 640px;
  position: relative;
  text-align: center; }
  .l-header::after {
    clear: both;
    content: "";
    display: table; }

.l-header__logo {
  height: 100%;
  width: 220px;
  padding-top: 25px;
  float: left; }
  .l-header__logo svg {
    height: 30px;
    width: 220px;
    display: block; }

.l-header__shop-logo {
  margin-left: 120px;
  color: #303030;
  display: inline-block;
  vertical-align: top;
  line-height: 80px;
  text-transform: uppercase;
  font-family: "ALSDirectGorkyPark";
  font-weight: normal;
  font-size: 29px; }
  @media screen and (max-width: 1210px) {
    .l-header__shop-logo {
      float: left;
      margin-left: 15px;
      padding-left: 15px;
      margin-top: 24px;
      font-size: 18px;
      line-height: 30px;
      height: 30px;
      border-left: 2px solid #dedede; } }

.l-nav {
  height: 100%;
  width: -webkit-calc(100% - 220px);
  width: -moz-calc(100% - 220px);
  width: calc(100% - 220px);
  float: left;
  text-align: right; }

.l-nav-list {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  vertical-align: top; }

.l-nav-list__item {
  line-height: 80px;
  height: 100%;
  margin-right: 20px;
  float: left; }
  .l-nav-list__item a {
    height: 100%;
    width: 100%;
    display: block;
    text-transform: uppercase;
    color: #303030;
    position: relative;
    letter-spacing: 0.065em;
    font-size: 16px;
    font-family: "ALSDirectGorkyPark"; }
    .l-nav-list__item a::before {
      position: absolute;
      top: 50px;
      left: 0;
      height: 2px;
      width: 100%;
      -webkit-transition: opacity 0.3s ease 0s;
      -moz-transition: opacity 0.3s ease 0s;
      -o-transition: opacity 0.3s ease 0s;
      transition: opacity 0.3s ease 0s;
      will-change: opacity;
      opacity: 0;
      content: '';
      display: block;
      background-color: #303030; }
  .l-nav-list__item.active a::before,
  .l-nav-list__item a:hover::before {
    opacity: 1; }

.l-footer {
  height: 475px;
  width: 100%;
  background-color: #303030;
  padding: 40px 0 70px;
  color: #ffffff;
  position: relative;
  overflow: hidden; }
  .l-footer::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 1024px) {
    .l-footer {
      height: 650px; } }
  @media screen and (max-width: 770px) {
    .l-footer {
      padding: 50px 30px 0;
      height: 2130px; } }

.l-footer-container {
  max-width: 1190px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden; }
  .l-footer-container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 1279px) {
    .l-footer-container {
      max-width: 950px;
      margin-left: auto;
      margin-right: auto; }
      .l-footer-container::after {
        clear: both;
        content: "";
        display: table; } }
  @media screen and (max-width: 1024px) {
    .l-footer-container {
      max-width: 710px;
      margin-left: auto;
      margin-right: auto; }
      .l-footer-container::after {
        clear: both;
        content: "";
        display: table; } }
  @media screen and (max-width: 770px) {
    .l-footer-container {
      max-width: 100%; } }

.l-footer-col-4 {
  float: left;
  display: block;
  margin-right: 0.84034%;
  width: 32.77311%; }
  .l-footer-col-4:last-child {
    margin-right: 0; }
  @media screen and (max-width: 1024px) {
    .l-footer-col-4 {
      height: auto;
      width: 100%;
      margin: 0;
      float: none;
      clear: both;
      border-bottom: 2px solid #454545; }
      .l-footer-col-4::after {
        clear: both;
        content: "";
        display: table; } }
  @media screen and (max-width: 770px) {
    .l-footer-col-4 {
      border-bottom: 0;
      padding-bottom: 50px; } }

.l-footer-col-2 {
  float: left;
  display: block;
  margin-right: 0.84034%;
  width: 15.96639%;
  padding-top: 20px; }
  .l-footer-col-2:last-child {
    margin-right: 0; }
  @media screen and (max-width: 1024px) {
    .l-footer-col-2 {
      float: left;
      display: block;
      margin-right: 0.84034%;
      width: 24.36975%; }
      .l-footer-col-2:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 770px) {
    .l-footer-col-2 {
      width: 44.827586206%;
      margin-right: 10.344827586%;
      padding: 55px 0 50px;
      border-top: 2px solid #454545; }
      .l-footer-col-2:nth-child(2n+1) {
        margin-right: 0; }
      .l-footer-col-2:nth-child(2n+2) {
        clear: left; } }

.l-footer-logo {
  height: 40px;
  width: 270px;
  display: block;
  fill: #ffffff; }
  @media screen and (max-width: 770px) {
    .l-footer-logo {
      height: 50px;
      width: 370px; } }

.l-footer-department {
  height: 54px;
  width: 145px;
  margin: 35px 0 40px; }
  @media screen and (max-width: 770px) {
    .l-footer-department {
      height: auto;
      width: auto; } }

@media screen and (max-width: 1024px) {
  .l-footer-king-col-6 {
    float: left;
    display: block;
    margin-right: 0.84034%;
    width: 49.57983%; }
    .l-footer-king-col-6:last-child {
      margin-right: 0; } }

@media screen and (max-width: 770px) {
  .l-footer-king-col-6 {
    width: 100%;
    margin: 0; } }

.l-footer-address {
  display: block;
  font-style: normal;
  font-size: 14px;
  font-family: "ALSDirectGorkyPark"; }
  .l-footer-address,
  .l-footer-address a {
    color: #7e7e7e; }
  .l-footer-address > span {
    display: block; }
  @media screen and (max-width: 1024px) {
    .l-footer-address {
      float: left;
      display: block;
      margin-right: 0.84034%;
      width: 49.57983%; }
      .l-footer-address:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 770px) {
    .l-footer-address {
      margin: 0;
      width: 100%;
      line-height: 35px;
      font-size: 25px; } }

.l-footer-title {
  line-height: 1;
  margin: 0 0 30px;
  color: #7e7e7e;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-family: "ALSDirectGorkyPark";
  font-size: 12px;
  font-weight: normal; }
  @media screen and (max-width: 770px) {
    .l-footer-title {
      font-size: 25px;
      margin: 0 0 70px; } }

.l-footer-list {
  padding: 0;
  margin: 0;
  list-style: none; }

.l-footer-list-item {
  position: relative; }
  .l-footer-list-item a {
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    line-height: 25px;
    white-space: nowrap;
    font-size: 12px;
    font-family: "ALSDirectGorkyPark"; }
    @media screen and (max-width: 770px) {
      .l-footer-list-item a {
        line-height: 55px;
        font-size: 25px; } }
  @media screen and (max-width: 770px) {
    .l-footer-list-item svg {
      height: 90px;
      width: 130px; } }
  .l-footer-list-item svg,
  .l-footer-list-item span {
    display: block; }

.l-footer-social-icon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 18px; }
  @media screen and (max-width: 770px) {
    .l-footer-social-icon {
      max-width: 50px; }
      .l-footer-list-item .l-footer-social-icon {
        height: 30px;
        width: 45px; } }

.l-footer-area-caption {
  margin-bottom: 16px; }
  @media screen and (max-width: 770px) {
    .l-footer-area-caption {
      margin-bottom: 2px; } }

.l-footer-social-caption {
  padding-left: 25px; }
  @media screen and (max-width: 770px) {
    .l-footer-social-caption {
      padding-left: 60px; } }

.l-footer-copyright {
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 70px;
  border-top: 2px solid #454545;
  color: #7e7e7e;
  display: block;
  text-align: center;
  font-size: 12px;
  font-family: "ALSDirectGorkyPark"; }
  @media screen and (max-width: 1024px) {
    .l-footer-copyright {
      max-width: 710px;
      margin-left: auto;
      margin-right: auto;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
      .l-footer-copyright::after {
        clear: both;
        content: "";
        display: table; } }
  @media screen and (max-width: 770px) {
    .l-footer-copyright {
      height: 170px;
      width: 100%;
      position: static;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
      font-size: 25px;
      line-height: 35px;
      padding-top: 50px; } }

.l-page {
  min-height: 100vh;
  margin-bottom: -475px; }
  .l-page::after {
    content: '';
    display: block;
    height: 475px; }
  .no-footer .l-page {
    margin-bottom: 0; }
    .no-footer .l-page::after {
      display: none; }

.l-sub-header {
  height: 60px;
  width: 100%;
  background-color: #303030;
  padding: 0;
  z-index: 10000;
  min-width: 640px;
  position: relative;
  text-align: center; }
  .l-sub-header::after {
    clear: both;
    content: "";
    display: table; }

.l-sub-navigation {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  height: 100%; }
  @media screen and (max-width: 1210px) {
    .l-sub-navigation {
      display: none; } }

.l-sub-navigation__item {
  height: 60px;
  line-height: 60px;
  float: left;
  margin-right: 20px; }
  .l-sub-navigation__item:last-child {
    margin-right: 0; }

.l-sub-navigation__link {
  height: 100%;
  width: 100%;
  -webkit-transition: color 0.3s ease 0s;
  -moz-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  will-change: color;
  display: block;
  color: #8e8e8e;
  position: relative;
  font-size: 14px;
  font-family: "ALSDirectGorkyPark"; }
  .l-sub-navigation__link::before {
    position: absolute;
    top: 40px;
    left: 0;
    height: 2px;
    width: 100%;
    -webkit-transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
    will-change: opacity;
    opacity: 0;
    content: '';
    display: block;
    background-color: #ffffff; }
  .l-sub-navigation__link.active,
  .l-sub-navigation__link:hover {
    color: #ffffff; }
  .l-sub-navigation__link.active::before {
    opacity: 1; }

.l-sub-cart {
  list-style: none;
  margin: 0;
  padding: 25px 0;
  float: right;
  height: 100%; }
  .l-sub-cart em {
    line-height: 28px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    font-style: italic;
    font-size: 14px;
    font-family: "PTSerif"; }
  .l-sub-cart--tablet {
    display: none;
    padding: 15px 0; }
    .l-sub-cart--tablet em {
      color: #ffffff; }
  @media screen and (max-width: 1210px) {
    .l-sub-cart {
      display: none; }
      .l-sub-cart--tablet {
        display: block; } }

.l-sub-cart__item {
  height: 100%;
  float: left;
  border-left: 2px solid #585858;
  padding: 0 30px; }
  .l-sub-cart__item:first-child {
    border-left: 0; }
  .l-sub-cart__item a {
    -webkit-transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
    will-change: opacity;
    color: #303030;
    line-height: 30px;
    opacity: 1;
    font-family: "ALSDirectGorkyPark";
    font-size: 14px; }
    .l-sub-cart__item a:hover {
      opacity: .75; }
    .l-sub-cart__item a svg {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px; }
  .l-sub-cart--tablet .l-sub-cart__item a {
    color: #ffffff; }

.l-sub-cart__basket {
  height: 28px;
  width: 34px;
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIyNSIgdmlld0JveD0iMCAwIDMyIDI1Ij48cGF0aCBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9Im5vbmUiIGQ9Ik0tODUtMTk3aDI1OHYzNTVILTg1eiIvPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzIzMUYyMCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIGQ9Ik05IDkuNWwyIDEzLjAzOE0xNiA5LjV2MTMuMDM4TTIzIDkuNWwtMiAxMy4wMzgiLz48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMyMzFGMjAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNMiA5aDI4bC00LjE0OCAxNC45Mkg2LjE0OEwyIDl6bTIzIDBjMC00Ljk3LTQuMDMtOC05LThTNyA0LjAzIDcgOSIvPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzIzMUYyMCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZD0iTTEgOWgzMCIvPjxwYXRoIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0ibm9uZSIgZD0iTS04NS0xOTdoMjU4djM1NUgtODV6Ii8+PC9zdmc+"); }
  .l-sub-cart--tablet .l-sub-cart__basket {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAZCAMAAABn0dyjAAAAeFBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////GqOSsAAAAJ3RSTlMAD27s6CsF9tK8sKaDXjX58NDAuKuVgEZAOzEhHRQL48izenRkViZO4UnQAAABF0lEQVQYGX3BBVIDQQAAwdlzj7vgzP9/yEKIAUU3N3bLaabZdLnjL/vWi3bPL5tUmz4/HPK+0XTDD/nYx5xv+aPjnHsTZwUXxcwJd95MD9w4pL5xq7HjTmfDrcyBO4MZJ5X/qqj8VwUk1iGEzHWINERrsxBCbcKnreMCansiJeqtoRi75UvqFhZ2RErUuYCtKSdPJpA4J1KiuQkkPnHyYgMrJ0RKNHEFjS+cDKawsyRSotIdpA6cFKU5jNwDCuwdQW5Z8G1mApUrQIGVFSTOOHu2hbkJoEDiHFqfOduYQecCUGBhB5kbzorSd3prQIHannfLgouprww+AAo8OPDqlKulLUGPoHDUQOuSq7V/WHN1HPnL6MinDwxdKYkKLvknAAAAAElFTkSuQmCC"); }

.l-body {
  float: left;
  display: block;
  margin-right: 0.84034%;
  width: 66.38655%;
  background-color: #ffffff;
  margin-bottom: 40px;
  padding: 30px 50px; }
  .l-body:last-child {
    margin-right: 0; }
  .l-body--centered,
  .l-body--centered:last-child {
    float: none;
    margin: 0 auto; }
  @media screen and (max-width: 1210px) {
    .l-body {
      width: 100%;
      float: none;
      margin-bottom: 10px; } }

.l-body__title {
  line-height: 1;
  text-align: center;
  margin: 0 0 20px;
  font-family: "PTSerif";
  font-size: 40px;
  font-weight: bold; }

.l-body__text > :first-child {
  margin-top: 0; }

.l-body__text p {
  line-height: 25px;
  margin: 25px 0;
  font-size: 18px;
  font-family: "PTSerif"; }

.l-body__text a {
  -webkit-transition: border-bottom-color 0.3s ease 0s;
  -moz-transition: border-bottom-color 0.3s ease 0s;
  -o-transition: border-bottom-color 0.3s ease 0s;
  transition: border-bottom-color 0.3s ease 0s;
  white-space: nowrap;
  will-change: border-bottom-color;
  color: #303030;
  border-bottom: 2px solid #303030; }
  .l-body__text a:hover {
    border-bottom-color: transparent; }

.l-body__text i,
.l-body__text em {
  font-family: "PTSerif";
  font-style: italic; }

.l-body__text b,
.l-body__text strong {
  font-weight: normal; }

.l-body__text u {
  text-decoration: none; }

.l-body__text h2 {
  margin: 60px 0 25px;
  line-height: 25px;
  font-size: 23px;
  font-weight: normal;
  font-family: "ALSDirectGorkyPark"; }

.l-body__text ul {
  padding: 0 0 0 20px; }

.l-body__text ol {
  padding: 0 0 0 25px; }

.l-body__text ul,
.l-body__text ol {
  margin: 25px 0;
  list-style-position: outside; }
  .l-body__text ul li,
  .l-body__text ol li {
    line-height: 25px;
    margin: 0 0 25px;
    padding: 0 0 0 25px;
    font-family: "PTSerif";
    font-size: 18px; }

.l-aside {
  float: left;
  display: block;
  margin-right: 0.84034%;
  width: 32.77311%;
  background-color: #ffffff;
  margin-bottom: 40px;
  padding: 0 24px 30px;
  margin-right: 0; }
  .l-aside:last-child {
    margin-right: 0; }
  .l-aside:nth-child(2n) {
    margin-right: 0; }
  .l-aside:nth-child(2n+1) {
    clear: left; }
  @media screen and (max-width: 1210px) {
    .l-aside {
      float: none;
      width: 100%; } }

.l-aside__title {
  height: 90px;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  line-height: 90px;
  font-size: 38px;
  font-family: "ALSDirectGorkyPark";
  font-weight: normal; }

.l-aside__form {
  margin-bottom: 40px; }

.l-aside__input-container {
  padding-top: 25px;
  margin-bottom: 25px;
  display: block;
  border-top: 2px solid #e6e6e6; }

.l-aside__input-caption {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
  font-family: "ALSDirectGorkyPark";
  font-weight: normal; }

.l-aside__button {
  height: 70px;
  width: 100%;
  line-height: 70px;
  margin: 0;
  border: 2px solid #303030; }

.l-aside__success {
  text-align: center;
  margin: 20px 0;
  padding: 20px 0;
  font-size: 16px;
  font-family: "ALSDirectGorkyPark"; }

.l-sub-dropdown {
  height: 100%;
  width: 210px;
  float: left;
  position: relative;
  display: none; }
  @media screen and (max-width: 1210px) {
    .l-sub-dropdown {
      display: block; } }
  @media screen and (max-width: 770px) {
    .l-sub-dropdown {
      height: auto;
      width: 100%;
      float: left;
      clear: both;
      margin: 40px auto 0; } }

.l-sub-dropdown-trigger {
  height: 100%;
  width: 100%;
  -webkit-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  -moz-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  will-change: color, background-color;
  text-align: left;
  border: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  padding: 0 45px 0 45px;
  line-height: 60px;
  background-color: transparent;
  color: #ffffff;
  white-space: nowrap;
  font-family: "ALSDirectGorkyPark";
  font-size: 14px;
  font-weight: normal; }
  @media screen and (max-width: 770px) {
    .l-sub-dropdown-trigger {
      width: 580px;
      line-height: 90px;
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: 0.06em;
      color: #303030;
      border: 2px solid #303030;
      position: relative;
      text-align: center;
      padding: 0; } }

.l-sub-dropdown-arrow {
  height: 100%;
  width: 15px;
  position: absolute;
  top: 0;
  right: 15px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  -moz-transition: -moz-transform 0.3s ease 0s;
  -o-transition: -o-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  will-change: transform;
  display: block;
  margin-left: 10px; }
  .l-sub-dropdown-arrow::before {
    height: 3px;
    width: 13px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: rotate(45deg) translateY(-10px) translateX(1px);
    -moz-transform: rotate(45deg) translateY(-10px) translateX(1px);
    -ms-transform: rotate(45deg) translateY(-10px) translateX(1px);
    -o-transform: rotate(45deg) translateY(-10px) translateX(1px);
    transform: rotate(45deg) translateY(-10px) translateX(1px);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    background-color: #ffffff;
    content: ''; }
  .l-sub-dropdown-arrow::after {
    height: 3px;
    width: 13px;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: rotate(-45deg) translateY(-10px) translateX(-1px);
    -moz-transform: rotate(-45deg) translateY(-10px) translateX(-1px);
    -ms-transform: rotate(-45deg) translateY(-10px) translateX(-1px);
    -o-transform: rotate(-45deg) translateY(-10px) translateX(-1px);
    transform: rotate(-45deg) translateY(-10px) translateX(-1px);
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
    background-color: #ffffff;
    content: ''; }
  .trigger-open .l-sub-dropdown-arrow {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  @media screen and (max-width: 770px) {
    .l-sub-dropdown-arrow {
      position: absolute;
      top: 0;
      right: 20px; }
      .l-sub-dropdown-arrow::before,
      .l-sub-dropdown-arrow::after {
        background-color: #303030; } }

.l-sub-dropdown-list {
  height: auto;
  width: 100%;
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-transition: max-height 0.3s ease 0s;
  -moz-transition: max-height 0.3s ease 0s;
  -o-transition: max-height 0.3s ease 0s;
  transition: max-height 0.3s ease 0s;
  will-change: max-height;
  z-index: 1000;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #303030;
  overflow: hidden;
  max-height: 0; }
  .l-sub-dropdown-list.list-open {
    max-height: 500px; }
  @media screen and (max-width: 770px) {
    .l-sub-dropdown-list {
      position: static;
      background-color: transparent;
      width: 580px;
      margin: 0 auto; }
      .l-sub-dropdown-list.list-open {
        max-height: 1000px; } }

.l-sub-dropdown-item {
  height: 50px;
  width: 100%;
  border-top: 2px solid #404040; }
  @media screen and (max-width: 770px) {
    .l-sub-dropdown-item {
      height: 90px;
      width: 100%;
      border-left: 2px solid #404040;
      border-right: 2px solid #404040; }
      .l-sub-dropdown-item:last-child {
        border-bottom: 2px solid #404040; }
      .l-sub-dropdown-item:first-child {
        border-top: 0; } }

.l-sub-dropdown-link {
  height: 100%;
  width: 100%;
  -webkit-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  -moz-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  will-change: color, background-color;
  display: block;
  line-height: 50px;
  padding-left: 20px;
  color: #ffffff;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  font-family: "ALSDirectGorkyPark"; }
  .l-sub-dropdown-link:hover,
  .l-sub-dropdown-link.link-active {
    color: #fbd692;
    background-color: #404040; }
  @media screen and (max-width: 770px) {
    .l-sub-dropdown-link {
      height: 90px;
      width: 100%;
      line-height: 90px;
      color: #303030;
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: 0.06em;
      text-align: center; } }

.m-collection-slider,
.m-collection {
  height: 530px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f9ebd3; }
  @media screen and (max-width: 770px) {
    .m-collection-slider,
    .m-collection {
      margin-top: 40px;
      float: left;
      clear: both; } }

.m-collection {
  height: 290px;
  width: 100%; }

.m-collection-slider__caption {
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  text-transform: uppercase;
  letter-spacing: 0.02em;
  line-height: 20px;
  display: inline-block;
  z-index: 100;
  font-family: "ALSDirectGorkyPark";
  font-size: 12px;
  font-weight: normal; }
  .m-collection-slider__caption::after {
    height: 2px;
    width: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    background-color: #444240;
    display: block;
    content: ''; }

.m-collection-slider__container {
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out 0s;
  -moz-transition: -moz-transform 0.5s ease-in-out 0s;
  -o-transition: -o-transform 0.5s ease-in-out 0s;
  transition: transform 0.5s ease-in-out 0s;
  will-change: transform;
  white-space: nowrap;
  font-size: 0; }

.m-collection-slider__item {
  height: 100%;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.m-collection-slider__centered {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: auto;
  width: 100%;
  white-space: normal;
  text-align: center; }

.m-collection-slider__item-title {
  line-height: 1;
  margin: 0 auto 20px;
  padding: 0 40px;
  max-width: 720px;
  font-weight: normal;
  font-size: 40px;
  font-family: "ALSDirectGorkyPark"; }
  .m-collection-slider__item-title a {
    color: #303030;
    -webkit-transition: background-image 0.3s ease 0s;
    -moz-transition: background-image 0.3s ease 0s;
    -o-transition: background-image 0.3s ease 0s;
    transition: background-image 0.3s ease 0s;
    will-change: background-image;
    background-repeat: repeat-x;
    background-position: 0 85%;
    -webkit-background-size: 1px 2px;
    -moz-background-size: 1px 2px;
    -o-background-size: 1px 2px;
    background-size: 1px 2px;
    background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="); }
    .m-collection-slider__item-title a:hover {
      background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAADAwMAAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="); }
  @media screen and (max-width: 1024px) {
    .m-collection-slider__item-title {
      max-width: 500px; } }

.m-collection-slider__item-text {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 40px;
  line-height: 20px;
  font-family: "ALSDirectGorkyPark";
  font-weight: normal;
  font-size: 14px; }
  @media screen and (max-width: 1024px) {
    .m-collection-slider__item-text {
      max-width: 500px; } }

.m-collection-slider__pagination {
  position: absolute;
  bottom: 40px;
  left: 0;
  height: 10px;
  width: 100%;
  overflow: hidden;
  font-size: 0;
  white-space: nowrap;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none; }

.m-collection-slider__pagination-item {
  height: 10px;
  width: 10px;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: background-color 0.3s ease 0s;
  -moz-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  will-change: background-color;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0 2px #303030 inset;
  -moz-box-shadow: 0 0 0 2px #303030 inset;
  box-shadow: 0 0 0 2px #303030 inset;
  margin-right: 10px;
  cursor: pointer; }
  .m-collection-slider__pagination-item:last-child {
    margin-right: 0; }
  .m-collection-slider__pagination-item:hover,
  .m-collection-slider__pagination-item.active {
    background-color: #303030; }

.m-collection-slider__next,
.m-collection-slider__prev {
  height: 60px;
  width: 60px;
  -webkit-transition: opacity 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  will-change: opacity;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  padding: 0;
  background-color: transparent;
  border: 2px solid #303030;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  z-index: 30;
  display: block; }
  .m-collection-slider__next:hover,
  .m-collection-slider__prev:hover {
    opacity: .777; }
  .m-collection-slider__next::before,
  .m-collection-slider__next::after,
  .m-collection-slider__prev::before,
  .m-collection-slider__prev::after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 3px;
    width: 16px;
    background-color: #303030;
    display: block;
    content: '';
    margin-top: -1px;
    margin-left: -8px; }
  .m-collection-slider__next::before,
  .m-collection-slider__prev::before {
    -webkit-transform: rotate(45deg) translate(2px, 5px);
    -moz-transform: rotate(45deg) translate(2px, 5px);
    -ms-transform: rotate(45deg) translate(2px, 5px);
    -o-transform: rotate(45deg) translate(2px, 5px);
    transform: rotate(45deg) translate(2px, 5px); }
  .m-collection-slider__next::after,
  .m-collection-slider__prev::after {
    -webkit-transform: rotate(-45deg) translate(3px, -5px);
    -moz-transform: rotate(-45deg) translate(3px, -5px);
    -ms-transform: rotate(-45deg) translate(3px, -5px);
    -o-transform: rotate(-45deg) translate(3px, -5px);
    transform: rotate(-45deg) translate(3px, -5px); }

.m-collection-slider__next {
  position: absolute;
  top: 50%;
  right: 40px;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg); }
  @media screen and (max-width: 1024px) {
    .m-collection-slider__next {
      right: 10px; } }

.m-collection-slider__prev {
  position: absolute;
  top: 50%;
  left: 40px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media screen and (max-width: 1024px) {
    .m-collection-slider__prev {
      left: 10px; } }

.m-shop-unit {
  float: left;
  display: block;
  margin-right: 0.84034%;
  width: 24.36975%;
  height: 290px;
  margin-bottom: 10px;
  display: block;
  position: relative;
  overflow: hidden; }
  .m-shop-unit:last-child {
    margin-right: 0; }
  .m-shop-unit:nth-child(4n) {
    margin-right: 0; }
  .m-shop-unit:nth-child(4n+1) {
    clear: left; }
  @media screen and (max-width: 1210px) {
    .m-shop-unit {
      height: 470px;
      width: 350px;
      margin-right: 10px; }
      .m-shop-unit:nth-child(4n) {
        margin-right: 0.84034%; }
      .m-shop-unit:nth-child(4n+1) {
        clear: none; }
      .m-shop-unit:nth-child(2n) {
        margin-right: 0; } }
  @media screen and (max-width: 770px) {
    .m-shop-unit {
      float: none;
      margin: 0 auto 10px; }
      .m-shop-unit:nth-child(2n),
      .m-shop-unit:last-child {
        margin: 0 auto 10px; } }

.m-shop-unit__figure {
  height: 100%;
  width: 100%; }
  @media screen and (max-width: 1210px) {
    .m-shop-unit__figure {
      height: 0;
      width: 100%;
      padding-top: 100%; } }

.m-shop-unit__container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  will-change: opacity;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0; }
  .m-shop-unit:hover .m-shop-unit__container {
    opacity: 1; }
  @media screen and (max-width: 1210px) {
    .m-shop-unit__container {
      height: 118px;
      width: 100%;
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0;
      opacity: 1; } }

.m-shop-unit__centered {
  height: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  padding: 0 40px;
  color: #303030; }

.m-shop-unit__title {
  line-height: 25px;
  margin: 0 0 15px;
  font-size: 24px;
  font-family: "PTSerif";
  font-weight: bold; }

.m-shop-unit__price {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  line-height: 1;
  letter-spacing: 0.06em;
  font-size: 12px;
  font-family: "ALSDirectGorkyPark"; }

.m-page-title {
  line-height: 1;
  margin: 0 0 45px;
  text-align: center;
  font-family: "ALSDirectGorkyPark";
  font-size: 80px;
  font-weight: normal; }

.m-empty-cart {
  height: 290px;
  width: 100%;
  position: relative;
  background-color: #ffffff;
  text-align: center; }

.m-empty-cart__container {
  height: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.m-empty-cart__title {
  margin: 0 0 20px;
  line-height: 1;
  font-size: 40px;
  font-family: "ALSDirectGorkyPark";
  font-weight: normal; }

.m-empty-cart__button {
  height: 60px;
  width: 240px;
  border: 2px solid #303030;
  line-height: 58px; }

.m-cart__title {
  text-align: center;
  line-height: 1;
  margin: 0 0 10px;
  font-family: "ALSDirectGorkyPark";
  font-weight: normal;
  font-size: 40px; }

.m-cart__caption {
  margin: 0 0 20px;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  font-family: "ALSDirectGorkyPark"; }

.m-cart {
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  margin-bottom: 10px; }

.m-cart__header {
  height: 60px;
  width: 100%;
  line-height: 60px;
  white-space: nowrap; }

.m-cart__col-title {
  height: 100%;
  text-transform: uppercase;
  margin: 0;
  color: #5c5c5c;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  font-family: "ALSDirectGorkyPark"; }

.m-cart__title-container {
  float: left;
  display: block;
  margin-right: 0.84034%;
  width: 66.38655%; }
  .m-cart__title-container:last-child {
    margin-right: 0; }
  .m-cart__title-container .m-cart__col-title {
    float: left;
    display: block;
    margin-right: 1.26582%;
    width: 36.70886%; }
    .m-cart__title-container .m-cart__col-title:last-child {
      margin-right: 0; }

.m-cart__count-container,
.m-cart__remove-container {
  float: left;
  display: block;
  margin-right: 0.84034%;
  width: 7.56303%; }
  .m-cart__count-container:last-child,
  .m-cart__remove-container:last-child {
    margin-right: 0; }
  @media screen and (max-width: 1279px) {
    .m-cart__count-container,
    .m-cart__remove-container {
      float: left;
      display: block;
      margin-right: 0.84034%;
      width: 32.77311%;
      margin-right: 0; }
      .m-cart__count-container:last-child,
      .m-cart__remove-container:last-child {
        margin-right: 0; } }

.m-cart__price-container {
  float: left;
  display: block;
  margin-right: 0.84034%;
  width: 15.96639%; }
  .m-cart__price-container:last-child {
    margin-right: 0; }
  @media screen and (max-width: 1279px) {
    .m-cart__price-container {
      display: none; } }

.m-cart__body {
  width: 100%; }
  .m-cart__body::after {
    clear: both;
    content: "";
    display: table; }

.m-cart__unit,
.m-cart__result-container {
  height: auto;
  width: 100%;
  border-top: 2px solid #dedede;
  min-height: 290px; }
  .m-cart__unit::after,
  .m-cart__result-container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 1279px) {
    .m-cart__unit,
    .m-cart__result-container {
      min-height: 165px; } }

.m-cart__unit-price-tablet {
  display: none;
  line-height: 40px;
  margin: 0 0 15px;
  font-size: 24px;
  font-weight: normal;
  font-family: "ALSDirectGorkyPark"; }
  @media screen and (max-width: 1279px) {
    .m-cart__unit-price-tablet {
      display: block; } }

.m-cart__result-container {
  min-height: 220px;
  clear: both; }

.m-cart__figure {
  float: left;
  display: block;
  margin-right: 1.26582%;
  width: 36.70886%;
  border: 10px solid #ffffff; }
  .m-cart__figure:last-child {
    margin-right: 0; }
  @media screen and (max-width: 1279px) {
    .m-cart__figure {
      height: 165px;
      width: 122px;
      position: relative;
      overflow: hidden; }
      .m-cart__figure img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        max-width: none;
        max-height: none; } }

.m-cart__unit-info {
  float: left;
  display: block;
  margin-right: 1.26582%;
  width: 62.02532%; }
  .m-cart__unit-info:last-child {
    margin-right: 0; }

.m-cart__unit-title {
  margin: 25px 0 0;
  line-height: 25px;
  font-family: "PTSerif";
  font-weight: bold;
  font-size: 24px; }
  .m-cart__unit-title a {
    color: #303030; }
    .m-cart__unit-title a:hover {
      text-decoration: underline; }

.m-cart__unit-description {
  margin: 15px 0 0;
  font-size: 14px;
  font-family: "ALSDirectGorkyPark"; }
  @media screen and (max-width: 1279px) {
    .m-cart__unit-description {
      margin-bottom: 15px; } }

.m-cart__counter-container {
  height: 40px;
  width: 100%;
  margin: 25px 0 0;
  overflow: hidden;
  position: relative; }

.m-cart__counter {
  height: 40px;
  width: 40px;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  padding: 0;
  outline: 0;
  border: 2px solid #dedede;
  line-height: 40px;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  font-family: "ALSDirectGorkyPark"; }

.m-cart__counter-button-minus,
.m-cart__counter-button-plus {
  height: 16px;
  width: 10px;
  background-color: transparent;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  padding: 0;
  border: 0;
  margin: -8px 0 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAMAAAAYoR5yAAAATlBMVEUAAAAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDBknDRjAAAAGXRSTlMAEL/xihsF05B0cF1YRDAi5+Xi2MOqpj0qHkVxKAAAAFJJREFUCB0FwQcCwiAABLBAoXu49f7/URMABUDLCoyfZAelJhvoU4YD/B65neA75HmBJXkVoCYboNRkBYxzMgMsyXsE7EktgGPI1AHnPQ2gt+sPUKQD5LvmLAcAAAAASUVORK5CYII="); }

.m-cart__counter-button-minus {
  position: absolute;
  top: 50%;
  left: 0; }
  @media screen and (max-width: 1279px) {
    .m-cart__counter-button-minus {
      left: 50%;
      margin-left: -50px; } }

.m-cart__counter-button-plus {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
  @media screen and (max-width: 1279px) {
    .m-cart__counter-button-plus {
      right: 50%;
      margin-right: -50px; } }

.m-cart__unit-price {
  text-align: center;
  margin: 25px 0 0;
  line-height: 40px;
  font-size: 24px;
  font-weight: normal;
  font-family: "ALSDirectGorkyPark"; }

.m-cart__remove-button {
  height: 42px;
  width: 42px;
  padding: 0;
  display: block;
  outline: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  border: 2px solid #bfbfbf;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin: 25px auto 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAV1BMVEUAAAAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDCydjf0AAAAHHRSTlMA+d1a8uvCpCUdFgkE7+TWzbKcl4lwZUxBOS8PcoPVmAAAAHBJREFUCB0FwYUBwzAAAzAlKcOY6//vnKQ1AFpT8gB4pHgm9w22e/LklYwb25i8oJVc1/Wa0oB3yTCkvAE+XdJ9ACw1qQvAXNP3qTMwnVKnqeY0wa/PeWY+p//x7XJZYLmk+9ozHMAxZHcbV4B1vP0BrNgGrRk62owAAAAASUVORK5CYII="); }
  @media screen and (max-width: 1279px) {
    .m-cart__remove-button {
      display: none; } }

.m-cart__result-caption {
  margin: 35px 0 10px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 1;
  color: #5c5c5c;
  font-size: 12px;
  font-family: "ALSDirectGorkyPark"; }

.m-cart__result {
  margin: 0 0 30px;
  line-height: 1;
  text-align: center;
  font-size: 35px;
  font-family: "PTSerif";
  font-weight: bold; }

.m-cart__result-button {
  height: 60px;
  width: 240px;
  line-height: 60px;
  margin: 0 auto;
  border: 2px solid #303030; }

.m-order {
  background-color: #ffffff;
  border: 0; }
  @media screen and (max-width: 1279px) {
    .m-order {
      padding: 0 30px; } }

.m-order__container {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 0; }
  .m-order__container::after {
    clear: both;
    content: "";
    display: table; }

.m-order__input-container {
  float: left;
  display: block;
  margin-right: 0.84034%;
  width: 49.57983%;
  display: block;
  margin-bottom: 20px; }
  .m-order__input-container:last-child {
    margin-right: 0; }
  .m-order__input-container:nth-child(2),
  .m-order__input-container:nth-child(4),
  .m-order__input-container:nth-child(6) {
    margin-right: 0; }
  @media screen and (max-width: 1024px) {
    .m-order__input-container {
      width: 100%; } }

.m-order__input-caption {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  line-height: 1;
  white-space: nowrap;
  letter-spacing: 0.06em;
  margin: 0 0 15px;
  font-size: 12px;
  font-family: "ALSDirectGorkyPark";
  font-weight: normal; }

.m-order__input,
.m-order__select {
  height: 50px;
  width: 100%;
  display: block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  border: 2px solid #dedede;
  outline: 0;
  padding: 0 20px;
  font-weight: normal;
  font-size: 14px;
  font-family: "ALSDirectGorkyPark"; }

.m-order__text {
  clear: both;
  line-height: 20px;
  margin: 20px 0 35px;
  font-size: 14px;
  font-family: "ALSDirectGorkyPark"; }

.m-order__result-container {
  clear: both; }

.m-sub-title {
  text-align: center;
  line-height: 1;
  clear: both;
  font-size: 34px;
  font-family: "ALSDirectGorkyPark";
  font-weight: normal; }

.m-social-links {
  height: 60px;
  width: 100%;
  padding: 0;
  margin: 30px 0 30px;
  list-style: none; }

.m-social-links__item {
  height: 100%;
  width: 33.33333%;
  float: left;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5; }
  .m-social-links__item:first-child {
    border-left: 2px solid #e5e5e5; }
  .m-social-links__item:last-child {
    border-right: 2px solid #e5e5e5; }

.m-social-links__link {
  height: 100%;
  width: 100%;
  display: block;
  position: relative; }
  .m-social-links__link svg {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: fill 0.3s ease 0s;
    -moz-transition: fill 0.3s ease 0s;
    -o-transition: fill 0.3s ease 0s;
    transition: fill 0.3s ease 0s;
    will-change: fill;
    fill: #6b6b6b;
    margin-top: -15px;
    margin-left: -15px; }
  .m-social-links__link:hover .m-social-links__tw {
    fill: #55acee; }
  .m-social-links__link:hover .m-social-links__fb {
    fill: #4c68a1; }
  .m-social-links__link:hover .m-social-links__vk {
    fill: #55779b; }

.m-slider {
  border-bottom: 2px solid #e8e8e8;
  margin-bottom: 35px; }

.m-slider__container {
  height: 460px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #303030; }

.m-slider__items-container {
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  -moz-transition: -moz-transform 0.5s ease 0s;
  -o-transition: -o-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  will-change: transform;
  height: 460px;
  white-space: nowrap;
  font-size: 0; }

.m-slider__item {
  height: 460px;
  width: 690px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden; }
  .m-slider__item img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    max-height: none; }

.m-slider__caption {
  height: 50px;
  width: 100%;
  line-height: 55px;
  text-align: center; }
  .m-slider__caption::after {
    clear: both;
    content: "";
    display: table; }

.m-slider__index {
  margin: 0;
  color: #5c5c5c;
  font-size: 12px;
  font-family: "ALSDirectGorkyPark"; }

.m-slider__next,
.m-slider__prev {
  height: 60px;
  width: 60px;
  -webkit-transition: opacity 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  will-change: opacity;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  padding: 0;
  background-color: transparent;
  border: 2px solid #303030;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  z-index: 30;
  display: block; }
  .m-slider__next:hover,
  .m-slider__prev:hover {
    opacity: .777; }
  .m-slider__next::before,
  .m-slider__next::after,
  .m-slider__prev::before,
  .m-slider__prev::after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 3px;
    width: 16px;
    background-color: #303030;
    display: block;
    content: '';
    margin-top: -1px;
    margin-left: -8px; }
  .m-slider__next::before,
  .m-slider__prev::before {
    -webkit-transform: rotate(45deg) translate(2px, 5px);
    -moz-transform: rotate(45deg) translate(2px, 5px);
    -ms-transform: rotate(45deg) translate(2px, 5px);
    -o-transform: rotate(45deg) translate(2px, 5px);
    transform: rotate(45deg) translate(2px, 5px); }
  .m-slider__next::after,
  .m-slider__prev::after {
    -webkit-transform: rotate(-45deg) translate(3px, -5px);
    -moz-transform: rotate(-45deg) translate(3px, -5px);
    -ms-transform: rotate(-45deg) translate(3px, -5px);
    -o-transform: rotate(-45deg) translate(3px, -5px);
    transform: rotate(-45deg) translate(3px, -5px); }

.m-slider__next {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg); }

.m-slider__prev {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

@media screen and (max-width: 770px) {
  .m-units-slider {
    height: 470px;
    width: 100%;
    overflow: hidden; }
  .m-units-slider__container {
    height: 470px;
    width: 350px;
    -webkit-transition: -webkit-transform 0.5s ease 0s;
    -moz-transition: -moz-transform 0.5s ease 0s;
    -o-transition: -o-transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
    will-change: transform;
    margin: 0 auto;
    white-space: nowrap; }
  .m-units-slider__slide {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    margin-bottom: 0;
    margin-right: 20px; }
    .m-units-slider__slide:nth-child(1n) {
      margin-right: 20px; } }
