<!DOCTYPE html>
<html>
<head>
  <title>Магазин Парк Горького</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="./assets/style.css"/>
</head>
<body>
  <section>
    <section class="l-page">
      {{> header }}
      {{> sub-header }}
      {{> cart }}
    </section>
    {{> footer }}
  </section>
  <script type="text/javascript" src="./assets/app.js"></script>
</body>
</html>
