.m-collection-slider,
.m-collection {
  @include size(100% 530px);
  position: relative;
  overflow: hidden;
  background-color: #f9ebd3;

  @include media($prince-star-prince) {
    margin-top: 40px;
    float: left;
    clear: both;
  }
}

.m-collection {
  @include size(100% 290px);
}

.m-collection-slider__caption {
  @include position(absolute, 30px null null 50%);
  transform: translateX(-50%);
  text-transform: uppercase;
  letter-spacing: tracking(20);
  line-height: 20px;
  display: inline-block;
  z-index: 100;
  font: {
    family: $sans-serif;
    size: 12px;
    weight: normal;
  };

  &::after {
    @include size(20px 2px);
    @include position(absolute, 100% null null 50%);
    margin-left: -10px;
    background-color: #444240;
    display: block;
    content: '';
  }
}

.m-collection-slider__container {
  @include size(100%);
  transition: transform .5s ease-in-out 0s;
  will-change: transform;
  white-space: nowrap;
  font-size: 0;
}

.m-collection-slider__item { 
  @include size(100%);
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: {
    repeat: no-repeat;
    position: center center;
    size: cover;
  };
}

.m-collection-slider__centered {
  @include position(absolute, 50% null null 0);
  @include transform(translateY(-50%));
  @include size(100% auto);
  white-space: normal;
  text-align: center;
}

.m-collection-slider__item-title {
  line-height: 1;
  margin: 0 auto 20px;
  padding: 0 40px;
  max-width: 720px;
  font: {
    weight: normal;
    size: 40px;
    family: $sans-serif;
  };

  a {
    color: $base-text-color;
    transition: background-image .3s ease 0s;
    will-change: background-image;
    background: {
      repeat: repeat-x;
      position: 0 85%;
      size: 1px 2px;
      image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
    };

    &:hover {
      background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAADAwMAAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');
    }
  }

  @include media($king-star-king) {
    max-width: 500px;
  }
}

.m-collection-slider__item-text {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 40px;
  line-height: 20px;
  font: {
    family: $sans-serif;
    weight: normal;
    size: 14px;
  };

  @include media($king-star-king) {
    max-width: 500px;
  }
}

.m-collection-slider__pagination {
  @include position(absolute, null null 40px 0);
  @include size(100% 10px);
  overflow: hidden;
  font-size: 0;
  white-space: nowrap;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.m-collection-slider__pagination-item {
  @include size(10px);
  display: inline-block;
  vertical-align: top;
  transition: background-color .3s ease 0s;
  will-change: background-color;
  border-radius: 100%;
  box-shadow: 0 0 0 2px #303030 inset;
  margin-right: 10px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &.active {
    background-color: #303030;
  }
}


.m-collection-slider__next,
.m-collection-slider__prev {
  @include size(60px);
  @include transition(opacity .3s ease 0s);
  will-change: opacity;
  border-radius: 100%;
  padding: 0;
  background-color: transparent;
  border: 2px solid #303030;
  box-shadow: 0;
  z-index: 30;
  display: block;

  &:hover {
    opacity: .777;
  }

  &::before,
  &::after {
    @include position(absolute, 50% null null 50%);
    @include size(16px 3px);
    background-color: #303030;
    display: block;
    content: '';
    margin: {
      top: -1px;
      left: -8px;
    }
  }

  &::before {
    @include transform(rotate(45deg) translate(2px, 5px));
  }

  &::after {
    @include transform(rotate(-45deg) translate(3px, -5px));
  }
}

.m-collection-slider__next {
  @include position(absolute, 50% 40px null null);
  @include transform(translateY(-50%) rotate(180deg));

  @include media($king-star-king) {
    right: 10px;
  }
}

.m-collection-slider__prev {
  @include position(absolute, 50% null null 40px);
  @include transform(translateY(-50%));

  @include media($king-star-king) {
    left: 10px;
  }
}
