.m-empty-cart {
  @include size(100% 290px);
  position: relative;
  background-color: $white;
  text-align: center;
}

.m-empty-cart__container {
  @include size(100% auto);
  @include position(absolute, 50% null null 0);
  @include transform(translateY(-50%));
}

.m-empty-cart__title {
  margin: 0 0 20px;
  line-height: 1;
  font: {
    size: 40px;
    family: $sans-serif;
    weight: normal;
  }
}

.m-empty-cart__button {
  @extend %button;
  @include size(240px 60px);
  border: 2px solid $base-text-color;
  line-height: 58px;
}
