.m-order {
  background-color: $white;
  border: 0;

  @include media($god-star-god) {
    padding: 0 30px;
  }
}

.m-order__container {
  @include outer-container(770px);
  padding: 35px 0;
}

.m-order__input-container {
  @include span-columns(6);
  display: block;
  margin-bottom: 20px;

  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(6) {
    margin-right: 0;
  }

  @include media($king-star-king) {
    width: 100%;
  }
}

.m-order__input-caption {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  line-height: 1;
  white-space: nowrap;
  letter-spacing: tracking(60);
  margin: 0 0 15px;
  font: {
    size: 12px;
    family: $sans-serif;
    weight: normal;
  };
}

.m-order__input,
.m-order__select {
  @include size(100% 50px);
  display: block;
  border-radius: 0;
  background-color: transparent;
  border: 2px solid #dedede;
  outline: 0;
  padding: 0 20px;
  font: {
    weight: normal;
    size: 14px;
    family: $sans-serif;
  }
}

.m-order__text {
  clear: both;
  line-height: 20px;
  margin: 20px 0 35px;
  font: {
    size: 14px;
    family: $sans-serif;
  }
}

.m-order__result-container {
  clear: both;
}