.m-slider {
  border-bottom: 2px solid #e8e8e8;
  margin-bottom: 35px;
}

.m-slider__container {
  @include size(100% 460px);
  position: relative;
  overflow: hidden;
  background-color: $base-text-color;
}

.m-slider__items-container {
  @include transition(transform .5s ease 0s);
  will-change: transform;
  height: 460px;
  white-space: nowrap;
  font-size: 0;
}

.m-slider__item {
  @include size(690px 460px);
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;

  img {
    @include position(absolute, 50% null null 50%);
    @include transform(translate(-50%, -50%));
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    max-height: none;
  }
}

.m-slider__caption {
  @include clearfix;
  @include size(100% 50px);
  line-height: 55px;
  text-align: center;
}

.m-slider__index {
  margin: 0;
  color: #5c5c5c;
  font: {
    size: 12px;
    family: $sans-serif;
  }
}

.m-slider__next,
.m-slider__prev {
  @include size(60px);
  @include transition(opacity .3s ease 0s);
  will-change: opacity;
  border-radius: 100%;
  padding: 0;
  background-color: transparent;
  border: 2px solid $base-text-color;
  box-shadow: 0;
  z-index: 30;
  display: block;

  &:hover {
    opacity: .777;
  }

  &::before,
  &::after {
    @include position(absolute, 50% null null 50%);
    @include size(16px 3px);
    background-color: $base-text-color;
    display: block;
    content: '';
    margin: {
      top: -1px;
      left: -8px;
    }
  }

  &::before {
    @include transform(rotate(45deg) translate(2px, 5px));
  }

  &::after {
    @include transform(rotate(-45deg) translate(3px, -5px));
  }
}

.m-slider__next {
  @include position(absolute, 50% 20px null null);
  @include transform(translateY(-50%) rotate(180deg));
}

.m-slider__prev {
  @include position(absolute, 50% null null 20px);
  @include transform(translateY(-50%));
}
