.m-shop-unit {
  @include span-columns(3);
  @include omega(4n);
  height: 290px;
  margin-bottom: 10px;
  display: block;
  position: relative;
  overflow: hidden;

  @include media($shopgod-star-shopgod) {
    @include omega-reset(4n);
    @include size(350px 470px);
    margin-right: 10px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include media($shopking-star-shopking) {
    float: none;
    margin: 0 auto 10px;

    &:nth-child(2n),
    &:last-child {
      margin: 0 auto 10px;      
    }
  }
}

.m-shop-unit__figure {
  @extend %figure;
  @include size(100%);

  @include media($shopgod-star-shopgod) {
    @include size(100% 0);
    padding-top: 100%;
  }
}

.m-shop-unit__container {
  @include size(100%);
  @include position(absolute, 0 null null 0);
  @include transition(opacity .3s ease 0s);
  will-change: opacity;
  z-index: 1000;
  background-color: rgba($white, .8);
  opacity: 0;

  .m-shop-unit:hover & {
    opacity: 1;
  }

  @include media($shopgod-star-shopgod) {
    @include size(100% 118px);
    @include position(absolute, auto null 0 0);
    opacity: 1;
  }
}

.m-shop-unit__centered {
  @include size(100% auto);
  @include position(absolute, 50% null null 0);
  @include transform(translateY(-50%));
  text-align: center;
  padding: 0 40px;
  color: $base-text-color;
}

.m-shop-unit__title {
  line-height: 25px;
  margin: 0 0 15px;
  font: {
    size: 24px;
    family: $serif;
    weight: bold;
  }
}

.m-shop-unit__price {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  line-height: 1;
  letter-spacing: tracking(60);
  font: {
    size: 12px;
    family: $sans-serif;
  }
}
