.m-social-links {
  @include size(100% 60px);
  padding: 0;
  margin: 30px 0 30px;
  list-style: none;
}

.m-social-links__item {
  @include size(33.33333% 100%);
  float: left;
  border: {
    top: 2px solid #e5e5e5;
    bottom: 2px solid #e5e5e5;
    right: 1px solid #e5e5e5;
    left: 1px solid #e5e5e5;
  }

  &:first-child {
    border-left: 2px solid #e5e5e5;
  }

  &:last-child {
    border-right: 2px solid #e5e5e5;
  }
}

.m-social-links__link {
  @include size(100%);
  display: block;
  position: relative;

  svg {
    @include size(30px);
    @include position(absolute, 50% null null 50%);
    @include transition(fill .3s ease 0s);
    will-change: fill;
    fill: #6b6b6b;
    margin: {
      top: -15px;
      left: -15px;
    }
  }

  &:hover {
    .m-social-links__tw {
      fill: #55acee;
    }

    .m-social-links__fb {
      fill: #4c68a1;
    }

    .m-social-links__vk {
      fill: #55779b;
    }
  }
}
