@include media($shopking-star-shopking) {
  .m-units-slider {
    @include size(100% 470px);
    overflow: hidden;
  }

  .m-units-slider__container {
    @include size(350px 470px);
    transition: transform .5s ease 0s;
    will-change: transform;
    margin: 0 auto;
    white-space: nowrap;
  }

  .m-units-slider__slide {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    margin-bottom: 0;
    margin-right: 20px;

    &:nth-child(1n) {
      margin-right: 20px;
    }
  }
}