@import '../../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import '../../node_modules/bourbon-neat/app/assets/stylesheets/neat-helpers';

// Typography
$sans-serif: 'ALSDirectGorkyPark';
$serif: 'PTSerif';
$base-font-family: $serif;
$base-font-size: 16px;

// Colors
$black: #000000;
$white: #ffffff;
$gray: #8e8e8e;
$light-gray: #e5e5e5;
$light-black: #303030;
$yellow: #faecd4;
$orange: #f9c26b;

// Color settings
$base-text-color: $light-black;

// Grid
$column: 90px; // Column width
$gutter: 10px; // Gutter between each two columns
$grid-columns: 12; // Total number of columns in the grid

$max-width: 1190px; // Max-width of the outer container
$min-width: 640px;
$min-height: 0;
$padding: 40px;

// Grid settings
// Makes all elements have a border-box layout-feature: min-width; 
// Default @media feature for the breakpoint() mixin-layout-direction: LTR;
$border-box-sizing: true;

// Visual grid
$visual-grid: false; // Display the base grid
$visual-grid-color: #00ffa8;
$visual-grid-index: front; // Show grid behind content (back) or overlay it over the content (front)
$visual-grid-opacity: .2;

// Breakpoints
$shopgod-star-shopgod: new-breakpoint(max-width 1210px);
$shopgod-star-width: 710px;

$shopking-star-shopking: new-breakpoint(max-width 770px);
$shopking-star-width: 100%;

// Breakpoints
$ungod-star-ungod: new-breakpoint(min-width 1280px);
$god-star-god: new-breakpoint(max-width 1279px);

$unking-star-unking: new-breakpoint(min-width 1025px);
$king-star-king: new-breakpoint(max-width 1024px);

$prince-star-prince: new-breakpoint(max-width 770px);
// $baby-star-baby: new-breakpoint(max-width 640px);

// Global variables
$footer-height: 475px;
$king-footer-height: 650px;
$prince-footer-height: 2130px;
$header-height: 80px;

// Global variables
$footer-height: 475px;

@import '../../node_modules/bourbon-neat/app/assets/stylesheets/neat';
@import './mixins/mixins';
@import './extends/extends';
