.l-aside {
  @include span-columns(4);
  @include omega(2n);
  background-color: $white;
  margin-bottom: 40px;
  padding: 0 24px 30px;
  margin-right: 0;

  @include media($shopgod-star-shopgod) {
    float: none;
    width: 100%;
  }
}

.l-aside__title {
  height: 90px;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  line-height: 90px;
  font: {
    size: 38px;
    family: $sans-serif;
    weight: normal;
  };
}

.l-aside__form {
  margin-bottom: 40px;
}

.l-aside__input-container {
  padding-top: 25px;
  margin-bottom: 25px;
  display: block;
  border-top: 2px solid #e6e6e6;
}

.l-aside__input-caption {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;
  cursor: pointer;
  white-space: nowrap;
  font: {
    size: 14px;
    family: $sans-serif;
    weight: normal;
  };
}

.l-aside__button {
  @extend %button;
  @include size(100% 70px);
  line-height: 70px;
  margin: 0;
  border: 2px solid $base-text-color;
}

.l-aside__success {
  text-align: center;
  margin: 20px 0;
  padding: 20px 0;
  font: {
    size: 16px;
    family: $sans-serif;
  };
}
