.l-body {
  @include span-columns(8);
  background-color: $white;
  margin-bottom: 40px;
  padding: 30px 50px;

  &--centered {
    &,
    &:last-child {
      float: none;
      margin: 0 auto;
    }
  }

  @include media($shopgod-star-shopgod) {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}

.l-body__title {
  line-height: 1;
  text-align: center;
  margin: 0 0 20px;
  font: {
    family: $serif;
    size: 40px;
    weight: bold;
  };
}

// Shared with main app styles
.l-body__text {
  > :first-child {
    margin-top: 0;
  }
  
  p {
    line-height: 25px;
    margin: 25px 0;
    font: {
      size: 18px;
      family: $serif;
    }
  }

  a {
    @include transition(border-bottom-color .3s ease 0s);
    white-space: nowrap;
    will-change: border-bottom-color;
    color: $base-text-color;
    border-bottom: 2px solid $base-text-color;

    &:hover {
      border-bottom-color: transparent;
    }
  }

  i, 
  em {
    font: {
      family: $serif;
      style: italic;
    }
  }

  b,
  strong {
    font-weight: normal;
  }

  u {
    text-decoration: none;
  }

  h2 {
    margin: 60px 0 25px;
    line-height: 25px;
    font: {
      size: 23px;
      weight: normal;
      family: $sans-serif;
    }
  }

  ul {
    padding: 0 0 0 20px;
  }

  ol {
    padding: 0 0 0 25px;
  }

  ul,
  ol {
    margin: 25px 0;
    list-style-position: outside;

    li {
      line-height: 25px;
      margin: 0 0 25px;
      padding: 0 0 0 25px;
      font: {
        family: $serif;
        size: 18px;
      }
    }
  }
}
