.l-container {
  @include outer-container;
  padding: 40px 0 30px;
  position: relative;
  overflow: hidden;
  clear: both;

  @include media($shopgod-star-shopgod) {
    @include outer-container($shopgod-star-width);
  }

  @include media($shopking-star-shopking) {
    @include outer-container(100%);
  }
}
