.l-footer {
  @include size(100% $footer-height);
  @include clearfix;
  background-color: $base-text-color;
  padding: 40px 0 70px;
  color: $white;
  position: relative;
  overflow: hidden;

  @include media($king-star-king) {
    height: $king-footer-height;
  }

  @include media($prince-star-prince) {
    padding: 50px 30px 0;
    height: $prince-footer-height;
  }
}

.l-footer-container {
  @include outer-container;
  position: relative;
  overflow: hidden;

  @include media($god-star-god) {
    @include outer-container(950px);
  }

  @include media($king-star-king) {
    @include outer-container(710px);
  }

  @include media($prince-star-prince) {
    max-width: 100%;
  }
}

.l-footer-col-4 {
  @include span-columns(4);

  @include media($king-star-king) {
    @include size(100% auto);
    @include clearfix;
    margin: 0;
    float: none;
    clear: both;
    border-bottom: 2px solid #454545;
  }

  @include media($prince-star-prince) {
    border-bottom: 0;
    padding-bottom: 50px;
  }
}

.l-footer-col-2 {
  @include span-columns(2);
  padding-top: 20px;

  @include media($king-star-king) {
    @include span-columns(3);
  }

  @include media($prince-star-prince) {
    width: 44.827586206%;
    margin-right: 10.344827586%;
    padding: 55px 0 50px;
    border-top: 2px solid #454545;

    &:nth-child(2n+1) {
      margin-right: 0;
    }

    &:nth-child(2n+2) {
      clear: left;
    }
  }
}

.l-footer-logo {
  @include size(270px 40px);
  display: block;
  fill: $white;

  @include media($prince-star-prince) {
    @include size(370px 50px);
  }
}

.l-footer-department {
  @include size(145px 54px);
  margin: 35px 0 40px;

  @include media($prince-star-prince) {
    @include size(auto);
  }
}

.l-footer-king-col-6 {
  @include media($king-star-king) {
    @include span-columns(6);
  }

  @include media($prince-star-prince) {
    width: 100%;
    margin: 0;
  }
}

.l-footer-address {
  display: block;
  font: {
    style: normal;
    size: 14px;
    family: $sans-serif;
  }

  &,
  a {
    color: #7e7e7e;
  }

  > span {
    display: block;
  }

  @include media($king-star-king) {
    @include span-columns(6);
  }

  @include media($prince-star-prince) {
    margin: 0;
    width: 100%;
    line-height: 35px;
    font-size: 25px;
  }
}

.l-footer-title {
  line-height: 1;
  margin: 0 0 30px;
  color: #7e7e7e;
  text-transform: uppercase;
  letter-spacing: tracking(60);
  font: {
    family: $sans-serif;
    size: 12px;
    weight: normal;
  }

  @include media($prince-star-prince) {
    font-size: 25px;
    margin: 0 0 70px;
  }
}

.l-footer-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.l-footer-list-item {
  position: relative;

  a {
    display: inline-block;
    vertical-align: top;
    color: $white;
    line-height: 25px;
    white-space: nowrap;
    font: {
      size: 12px;
      family: $sans-serif;
    }

    @include media($prince-star-prince) {
      line-height: 55px;
      font-size: 25px;  
    }
  }

  @include media($prince-star-prince) {
    svg {
      @include size(130px 90px);
    }
  }

  svg,
  span {
    display: block;
  }
}

.l-footer-social-icon {
  @include position(absolute, 50% null null 0);
  @include transform(translateY(-50%));
  max-width: 18px;

  @include media($prince-star-prince) {
    max-width: 50px;
    
    .l-footer-list-item & {
      @include size(45px 30px);
    }
  }
}

.l-footer-area-caption {
  margin-bottom: 16px;

  @include media($prince-star-prince) {
    margin-bottom: 2px;
  }
}

.l-footer-social-caption {
  padding-left: 25px;

  @include media($prince-star-prince) {
    padding-left: 60px;
  }
}

.l-footer-copyright {
  @include size(100% 70px);
  @include position(absolute, null null 0 0);
  line-height: 70px;
  border-top: 2px solid #454545;
  color: #7e7e7e;
  display: block;
  text-align: center;
  font: {
    size: 12px;
    family: $sans-serif;
  }

  @include media($king-star-king) {
    @include outer-container(710px);
    left: 50%;
    transform: translateX(-50%);
  }

  @include media($prince-star-prince) {
    @include size(100% 170px);
    position: static;
    transform: none;
    font-size: 25px;
    line-height: 35px;
    padding-top: 50px;
  }
}
