.l-header {
  @include size(100% 80px);
  @include clearfix;
  background-color: $white;
  padding: 0 45px;
  z-index: 10000;
  min-width: $min-width;
  position: relative;
  text-align: center;
}

.l-header__logo {
  @include size(220px 100%);
  padding-top: 25px;
  float: left;

  svg {
    @include size(220px 30px);
    display: block;
  }
}

.l-header__shop-logo {
  margin-left: 120px;
  color: $base-text-color;
  display: inline-block;
  vertical-align: top;
  line-height: 80px;
  text-transform: uppercase;
  font: {
    family: $sans-serif;
    weight: normal;
    size: 29px;
  };

  @include media($shopgod-star-shopgod) {
    float: left;
    margin-left: 15px;
    padding-left: 15px;
    margin-top: 24px;
    font-size: 18px;
    line-height: 30px;
    height: 30px;
    border-left: 2px solid #dedede;
  }
}
