.l-nav {
  @include size(calc(100% - 220px) 100%);
  float: left;
  text-align: right;
}

.l-nav-list {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.l-nav-list__item {
  line-height: 80px;
  height: 100%;
  margin-right: 20px;
  float: left;

  a {
    @include size(100%);
    display: block;
    text-transform: uppercase;
    color: $base-text-color;
    position: relative;
    letter-spacing: tracking(65);
    font: {
      size: $base-font-size;
      family: $sans-serif;
    }

    &::before {
      @include position(absolute, 50px null null 0);
      @include size(100% 2px);
      @include transition(opacity .3s ease 0s);
      will-change: opacity;
      opacity: 0;
      content: '';
      display: block;
      background-color: $base-text-color;
    }
  }

  &.active a::before,
  a:hover::before {
    opacity: 1;
  }
}
