.l-page {
  min-height: 100vh;
  margin-bottom: -($footer-height);

  &::after {
    content: '';
    display: block;
    height: $footer-height;
  }

  .no-footer & {
    margin-bottom: 0;

    &::after {
      display: none;
    }
  }
}
