.l-sub-dropdown {
  @include size(210px 100%);
  float: left;
  position: relative;
  display: none;

  @include media($shopgod-star-shopgod) {
    display: block;
  }

  @include media($prince-star-prince) {
    @include size(100% auto);
    float: left;
    clear: both;
    margin: 40px auto 0;
  }
}

.l-sub-dropdown-trigger {
  @include size(100%);
  @include transition(color .3s ease 0s, background-color .3s ease 0s);
  will-change: color, background-color;
  text-align: left;
  border: 0;
  box-shadow: 0;
  padding: 0 45px 0 45px;
  line-height: 60px;
  background-color: transparent;
  color: $white;
  white-space: nowrap;
  font: {
    family: $sans-serif;
    size: 14px;
    weight: normal;
  }

  @include media($prince-star-prince) {
    width: 580px;
    line-height: 90px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: tracking(60);
    color: $base-text-color;
    border: 2px solid $base-text-color;
    position: relative;
    text-align: center;
    padding: 0;
  }
}

.l-sub-dropdown-arrow {
  @include size(15px 100%);
  @include position(absolute, 0 15px null null);
  @include transition(transform .3s ease 0s);
  @include transform(rotate(-180deg));
  will-change: transform;
  display: block;
  margin-left: 10px;

  &::before {
    @include size(13px 3px);
    @include position(absolute, 50% null null 0);
    @include transform(rotate(45deg) translateY(-10px) translateX(1px));
    @include transform-origin(left top);
    background-color: $white;
    content: '';
  }

  &::after {
    @include size(13px 3px);
    @include position(absolute, 50% 0 null null);
    @include transform(rotate(-45deg) translateY(-10px) translateX(-1px));
    @include transform-origin(right top);
    background-color: $white;
    content: '';
  }

  .trigger-open & {
    @include transform(rotate(0));
  }

  @include media($prince-star-prince) {
    @include position(absolute, 0 20px null null);

    &::before,
    &::after {
      background-color: $base-text-color;
    }
  }
}

.l-sub-dropdown-list {
  @include size(100% auto);
  @include position(absolute, 100% 0 null null);
  @include transition(max-height .3s ease 0s);
  will-change: max-height;
  z-index: 1000;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $light-black;
  overflow: hidden;
  max-height: 0;

  &.list-open {
    max-height: 500px;
  }

  @include media($prince-star-prince) {
    position: static;
    background-color: transparent;
    width: 580px;
    margin: 0 auto;

    &.list-open {
      max-height: 1000px;
    }
  }
}

.l-sub-dropdown-item {
  @include size(100% 50px);
  border-top: 2px solid #404040;

  @include media($prince-star-prince) {
    @include size(100% 90px);
    border-left: 2px solid #404040;
    border-right: 2px solid #404040;

    &:last-child {
      border-bottom: 2px solid #404040;      
    }

    &:first-child {
      border-top: 0;
    }
  }
}

.l-sub-dropdown-link {
  @include size(100%);
  @include transition(color .3s ease 0s, background-color .3s ease 0s);
  will-change: color, background-color;
  display: block;
  line-height: 50px;
  padding-left: 20px;
  color: $white;
  text-align: left;
  font: {
    weight: normal;
    size: 14px;
    family: $sans-serif;
  }

  &:hover,
  &.link-active {
    color: #fbd692;
    background-color: #404040;
  }

  @include media($prince-star-prince) {
    @include size(100% 90px);
    line-height: 90px;
    color: $base-text-color;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: tracking(60);
    text-align: center;
  }
}
