@mixin bootstrap-container {
  @include outer-container;

  @include media($god-star-god) { 
    max-width: $god-max-width; 
  }

  @include media($grabbles) { 
    max-width: $grabbles-max-width; 
  }

  @include media($hank-the-waffle) { 
    max-width: $hank-max-width; 
  }

  @include media($king-star-king) { 
    max-width: $king-max-width; 
  }

  @include media($prince-star-prince) { 
    max-width: $prince-max-width; 
  }
}
