@if $visual-grid == true or $visual-grid == yes {
  body:before {
    content: '';
    display: inline-block;
    background-image: unquote('linear-gradient(to left, #{$grid-columns})');
    height: 100%;
    left: 0;
    margin: 0 auto;
    max-width: $max-width;
    opacity: $visual-grid-opacity;
    position: fixed;
    right: 0;
    width: 100%;
    pointer-events: none;

    @if $visual-grid-index == back {
      z-index: -1;
    }

    @else if $visual-grid-index == front {
      z-index: 9999;
    }

    @each $breakpoint in $visual-grid-breakpoints {
      @if $breakpoint {
        @include media($breakpoint) {
          @include grid-column-gradient(gradient-stops($grid-columns));
        }
      }
    }

    @include media($god-star-god) { 
      max-width: $god-max-width; 
    }

    @include media($king-star-king) { 
      max-width: $king-max-width; 
    }

    @include media($prince-star-prince) { 
      max-width: $prince-max-width; 
    }
  }

}
