fieldset {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  font-weight: bold;
  margin-bottom: $base-line-height / 4;

  &.required:after {
    content: '*';
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs},
select[multiple='multiple'] {
  @include size(100% 50px);
  background-color: #f2f2f2;
  border-radius: 0;
  border: 0;
  box-shadow: 0;
  font-family: $form-font-family;
  font-size: 20px;
  padding: 0 25px;
  outline: 0;
  color: #1a1a1a;
  position: relative;
  display: block;

  @include placeholder {
    opacity: 1;
  }
}

.input-container {
  display: block;
  position: relative;
  clear: both;
  margin-bottom: 30px;

  &::before {
    @include size(2px 100%);
    @include position(absolute, 0 null null 0);
    @include transition(background-color .2s ease 0s);
    will-change: background-color;
    background-color: #d9d9d9;
    display: block;
    content: '';
    z-index: 100;
  }

  &.validated::before {
    background-color: $green;
  }

  &.error::before {
    background-color: #ff8080;
  }
}

textarea {
  padding: 25px;
  resize: none;
  height: auto;
  min-height: 240px;
}

input[type='search'] {
  @include appearance(none);
}

input[type='checkbox'], 
input[type='radio'] {
  display: inline;
  margin-right: $base-line-height / 4;
}

input[type='file'] {
  margin-bottom: $base-line-height / 2;
  padding-bottom: ($base-line-height / 3);
  width: 100%;
}

select {
  width: auto;
  max-width: 100%;
  margin-bottom: $base-line-height;
}
