<section class="l-container">
  <h1 class="m-cart__title">Корзина</h1>  
  <p class="m-cart__caption">В вашей корзине 2 товара на общую сумму 2 559 руб.</p>

  <section class="m-cart">
    <header class="m-cart__header">
      <section class="m-cart__title-container">
        <h2 class="m-cart__col-title">Наименование</h2>
      </section>

      <section class="m-cart__count-container">
        <h2 class="m-cart__col-title">кол-во</h2>
      </section>

      <section class="m-cart__price-container">
        <h2 class="m-cart__col-title">цена</h2>
      </section>
    </header>

    <section class="m-cart__body">
      <article class="m-cart__unit">
        <section class="m-cart__title-container">
          <figure class="m-cart__figure">
            <a href="javascript:void(0)">
              <img src="https://placeimg.com/290/290/any"/>
            </a>
          </figure>
          <section class="m-cart__unit-info">
            <h2 class="m-cart__unit-title"><a href="javascript:void(0)">Панама Kangol Super National Bucket England</a></h2>
            <h3 class="m-cart__unit-price-tablet">1200 руб.</h3>
            <p class="m-cart__unit-description">
              Цвет: белый<br/>
              Размер: M
            </p>
          </section>
        </section>

        <section class="m-cart__count-container">
          <figure class="m-cart__counter-container">
            <button type="button" class="m-cart__counter-button-minus"></button>
            <input type="text" class="m-cart__counter" value="1"/>
            <button type="button" class="m-cart__counter-button-plus"></button>
          </figure>
        </section>

        <section class="m-cart__price-container">
          <h3 class="m-cart__unit-price">1200 руб.</h3>
        </section>

        <section class="m-cart__remove-container">
          <button type="button" class="m-cart__remove-button"/>
        </section>
      </article>

      <article class="m-cart__unit">
        <section class="m-cart__title-container">
          <figure class="m-cart__figure">
            <img src="https://placeimg.com/290/290/any"/>
          </figure>
          <section class="m-cart__unit-info">
            <h2 class="m-cart__unit-title">Панама Kangol Super National Bucket England</h1>
          </section>
        </section>

        <section class="m-cart__count-container">
          <figure class="m-cart__counter-container">
            <button type="button" class="m-cart__counter-button-minus"></button>
            <input type="text" class="m-cart__counter" value="1"/>
            <button type="button" class="m-cart__counter-button-plus"></button>
          </figure>
        </section>

        <section class="m-cart__price-container">
          <h3 class="m-cart__unit-price">1200 руб.</h3>
        </section>

        <section class="m-cart__remove-container">
          <button type="button" class="m-cart__remove-button"/>
        </section>
      </article>
    </section>

    <section class="m-cart__result-container">
      <small class="m-cart__result-caption">сумма заказа</small>
      <h2 class="m-cart__result">2 559 руб.</h2>
      <button type="button" class="m-cart__result-button">оформить заказ</button>
    </section>

  </section>
</section>
