<section class="m-collection">
  <div class="m-collection-slider__centered">
    <h2 class="m-collection-slider__item-title">Дети парка</h2>
    <p class="m-collection-slider__item-text">Здесь вы найдете полную информацию о занятиях в трех Лекториях Парка Горького: в летнем кинотеатре "Пионер" и на Воробьевых горах.</p>
  </div>
</section>

<section class="l-container">
  
  <section class="m-units-slider js-units-slider">
    <section class="m-units-slider__container js-units-slider__container">
    {{> shop-unit class="m-units-slider__slide js-units-slider__slide" }}
    {{> shop-unit class="m-units-slider__slide js-units-slider__slide" }}
    {{> shop-unit class="m-units-slider__slide js-units-slider__slide" }}
    {{> shop-unit class="m-units-slider__slide js-units-slider__slide" }}
    </section>
  </section>

</section>
