<section class="m-collection-slider js-slider">
  <small class="m-collection-slider__caption">Коллекция</small>

  <section class="m-collection-slider__container js-slider-container">
    <article class="m-collection-slider__item js-slider-slide">
      <div class="m-collection-slider__centered">
        <h2 class="m-collection-slider__item-title"><a href="/collection.html">Дети парка</a></h2>
        <p class="m-collection-slider__item-text">Здесь вы найдете полную информацию о занятиях в трех Лекториях Парка Горького: в летнем кинотеатре "Пионер" и на Воробьевых горах.</p>
      </div>
    </article>
    <article class="m-collection-slider__item js-slider-slide">
      <div class="m-collection-slider__centered">
        <h2 class="m-collection-slider__item-title"><a href="/collection.html">Дети парка</a></h2>
        <p class="m-collection-slider__item-text">Здесь вы найдете полную информацию о занятиях в трех Лекториях Парка Горького: в летнем кинотеатре "Пионер" и на Воробьевых горах.</p>
      </div>
    </article>
    <article class="m-collection-slider__item js-slider-slide">
      <div class="m-collection-slider__centered">
        <h2 class="m-collection-slider__item-title"><a href="/collection.html">Дети парка</a></h2>
        <p class="m-collection-slider__item-text">Здесь вы найдете полную информацию о занятиях в трех Лекториях Парка Горького: в летнем кинотеатре "Пионер" и на Воробьевых горах.</p>
      </div>
    </article>
  </section>

  <button type="button" class="m-collection-slider__next js-slider-next"></button>
  <button type="button" class="m-collection-slider__prev js-slider-prev"></button>

  <ul class="m-collection-slider__pagination">
    <li class="m-collection-slider__pagination-item active js-slider-pagination-item"></li>
    <li class="m-collection-slider__pagination-item js-slider-pagination-item"></li>
    <li class="m-collection-slider__pagination-item js-slider-pagination-item"></li>
  </ul>
</section>

<section class="l-container">
  
  <section class="m-units-slider js-units-slider">
    <section class="m-units-slider__container js-units-slider__container">
    {{> shop-unit class="m-units-slider__slide js-units-slider__slide" }}
    {{> shop-unit class="m-units-slider__slide js-units-slider__slide" }}
    {{> shop-unit class="m-units-slider__slide js-units-slider__slide" }}
    {{> shop-unit class="m-units-slider__slide js-units-slider__slide" }}
    </section>
  </section>

</section>
