<section class="l-container">
  <section class="m-empty-cart">
    <section class="m-empty-cart__container">
      <h1 class="m-empty-cart__title">Ваша корзина пуста</h1>
      <a href="javascript:void(0)" class="m-empty-cart__button">Вернуться в магазин</a>
    </section>
  </section>
</section>
