<section class="l-container">

  <section class="l-body">
    <h1 class="l-body__title">Lapka набор датчиков</h1>
    
    <section class="m-slider js-slider">

      <section class="m-slider__container">
        <section class="m-slider__items-container js-slider-container">
          <figure class="js-slider-slide m-slider__item">
            <img src="https://placeimg.com/690/400/any"/>
          </figure>
          <figure class="js-slider-slide m-slider__item">
            <img src="https://placeimg.com/690/400/any"/>
          </figure>
          <figure class="js-slider-slide m-slider__item">
            <img src="https://placeimg.com/690/400/any"/>
          </figure>
          <figure class="js-slider-slide m-slider__item">
            <img src="https://placeimg.com/690/400/any"/>
          </figure>
        </section>

        <button type="button" class="m-slider__next js-slider-next"/>
        <button type="button" class="m-slider__prev js-slider-prev"/>
      </section>

      <figure class="m-slider__caption">
        <p class="m-slider__index js-slider-index"></p>
      </figure>

    </section>

    <section class="l-body__text">
      <p>Персональный монитор окружающей среды. Состоит из 4 датчиков, подключается к iPhone, и позволяет узнать температуру, влажность, уровень радиации и электромагнитных излучений, а также проверить овощи и фрукты на допустимый уровень нитратов. Идеально подходит для молодых мам, которые заботятся о здоровье своего ребёнка; а также для всех, кто увлечён естественными науками. Не требует настроек и специальных знаний. Удобное приложение включает и игровой момент — что придаёт дополнительный интерес процессу мониторинга среды и обмена данными с единомышленниками.</p>
    </section>


      <ul class="m-social-links">
        <li class="m-social-links__item">
          <a 
            class="m-social-links__link js-social-link" 
            target="_blank" 
            href="http://www.facebook.com/sharer/sharer.php"
            data-window='{
              "url": "http://www.facebook.com/sharer/sharer.php",
              "title": "facebook-share-dialog",
              "options": "width=626,height=436"
            }'
          >
            <svg width="30" height="30" viewBox="0 0 30 30" class="m-social-links__fb"><path d="M13.026 9.573v3.406H9v4.002h4.026v7.02H17v-7.02h3.41l1.398-4.003h-4.81v-2.973h5.007V6.003H16.52c-1.93 0-3.494 1.6-3.494 3.57z"/></svg>
          </a>
        </li>

        <li class="m-social-links__item">
          <a 
            class="m-social-links__link js-social-link" 
            target="_blank" 
            href="https://twitter.com/home"
            data-window='{
              "url": "https://twitter.com/home",
              "title": "twitter-share-dialog",
              "options": "width=626,height=436"
            }'
          >
            <svg width="30" height="30" viewBox="0 0 30 30" class="m-social-links__tw"><path d="M25.436 6.326c-.834.49-1.753.85-2.736 1.04-.79-.83-1.91-1.352-3.148-1.352-2.78 0-4.825 2.58-4.196 5.26-3.583-.176-6.76-1.883-8.883-4.476-1.13 1.927-.585 4.45 1.334 5.724-.706-.022-1.37-.215-1.95-.537-.048 1.99 1.384 3.843 3.454 4.257-.605.167-1.27.202-1.944.075.547 1.702 2.14 2.943 4.024 2.976-1.81 1.413-4.092 2.045-6.38 1.775 1.905 1.214 4.172 1.922 6.606 1.922 8 0 12.52-6.72 12.25-12.75.84-.6 1.57-1.356 2.15-2.216-.773.34-1.602.572-2.475.675.89-.532 1.574-1.37 1.896-2.374z"/></svg>
          </a>
        </li>

        <li class="m-social-links__item">
          <a 
            class="m-social-links__link js-social-link" 
            target="_blank" 
            href="http://vk.com/share.php"
            data-window='{
              "url": "http://vk.com/share.php",
              "title": "vk-share-dialog",
              "options": "width=626,height=436"
            }'
          >
            <svg width="30" height="30" viewBox="0 0 30 30" class="m-social-links__vk"><path d="M23.8 13.984c1.91-2.555 4.148-5.86 1.943-5.86h-3.385c-.82 0-.887.492-1.17 1.207-1.064 2.57-3.022 6.482-3.784 5.97-.792-.538-.43-2.394-.367-5.527.017-.822.008-1.387-1.213-1.684-3.33-.803-5.866.777-4.694 1 1.665.324 1.683 3.917 1.286 5.53-.67 2.802-3.513-2.908-4.575-5.412-.248-.596-.328-1.082-1.24-1.082H3.547c-.667 0-.99.312-.757.95.233.643 2.897 6.816 6.047 10.343 2.92 3.257 5.195 2.617 7.205 2.617.648 0 .917-.44.9-1.007-.03-2.105.33-2.89 1.747-1.404 1.587 1.626 1.91 2.23 3.82 2.23h2.95c2.67 0 .55-2.248-1.328-4.047-1.782-1.722-1.87-1.75-.33-3.826z"/></svg>
          </a>
        </li>
      </ul>

  </section>

  <section class="l-aside">
    <h1 class="l-aside__title">9 980 руб.</h1>
    {{> aside-form }}
    {{!-- {{> aside-success-form }} --}}
  </section>

  <h2 class="m-sub-title">Другие товары этой коллекции</h2>
  <section>
    {{> shop-unit }}
    {{> shop-unit }}
    {{> shop-unit }}
    {{> shop-unit }}
  </section>
</section>
