<section class="l-container">
  <h1 class="m-page-title">Категория</h1>
  <section>
    {{> shop-unit }}
    {{> shop-unit }}
    {{> shop-unit }}
    {{> shop-unit }}
    {{> shop-unit }}
    {{> shop-unit }}
    {{> shop-unit }}
  </section>
</section>