<section class="l-container">
  <h1 class="m-cart__title">Заказ</h1>  
  <p class="m-cart__caption">В вашей корзине 2 товара на общую сумму 2 559 руб.</p>

  <form action="/" method="POST" class="m-order">
    
    <section class="m-order__container">
      <label class="m-order__input-container">
        <small class="m-order__input-caption">Имя</small>
        <input class="m-order__input"/>
      </label>

      <label class="m-order__input-container">
        <small class="m-order__input-caption">Фамилия</small>
        <input class="m-order__input"/>
      </label>

      <label class="m-order__input-container">
        <small class="m-order__input-caption">E-mail</small>
        <input class="m-order__input"/>
      </label>

      <label class="m-order__input-container">
        <small class="m-order__input-caption">Способ доставки</small>
        <select class="m-order__select js-delivery-select">
          <option value="self">Самовывоз</option>
          <option value="runner">Доставка курьером</option>
        </select>
      </label>

      <label class="m-order__input-container">
        <small class="m-order__input-caption">Способ оплаты</small>
        <select class="m-order__select js-payment-select">
          <option value="cash">Наличными при получении</option>
          <option value="visa">Картой</option>
        </select>
      </label>

      <label class="m-order__input-container" data-shown-if='{ "select": ".js-delivery-select", "value": "runner" }'>
        <small class="m-order__input-caption">Время доставки</small>
        <input class="m-order__input"/>
      </label>        

      <label class="m-order__input-container">
        <small class="m-order__input-caption">Телефон</small>
        <input class="m-order__input"/>
      </label>

      <p class="m-order__text" data-shown-if='{ "select": ".js-delivery-select", "value": "runner" }'>Доставка по Москве (в пределах МКАД) стоит 250 рублей и осуществляется в течение 2-х дней после подтверждения заказа. При заказе на сумму от 3500 рублей доставка осуществляется бесплатно.</p>

      <section class="m-order__result-container">
        <small data-shown-if='{ "select": ".js-delivery-select", "value": "runner" }' class="m-cart__result-caption">сумма заказа</small>
        <h2 data-shown-if='{ "select": ".js-delivery-select", "value": "runner" }' class="m-cart__result">2 559 руб.</h2>
        <button type="submit" class="m-cart__result-button">заказать</button>
      </section>

    </section>

  </form>
</section>
