<form name="buy-form" method="POST" action="/" class="l-aside__form">
  <label class="l-aside__input-container">
    <small class="l-aside__input-caption">Выберите размер</small>
    <select class="m-order__select">
      <option value="big">Большой</option>
      <option value="small">Маленький</option>
    </select>
  </label>

  <label class="l-aside__input-container">
    <small class="l-aside__input-caption">Количество</small>
    <select class="m-order__select">
      <option value="big">Большой</option>
      <option value="small">Маленький</option>
    </select>
  </label>

  <label class="l-aside__input-container">
    <small class="l-aside__input-caption">Выберите цвет</small>
    <select class="m-order__select">
      <option value="big">Большой</option>
      <option value="small">Маленький</option>
    </select>
  </label>

  <button type="submit" class="l-aside__button">Купить</button>

</form>
