<header class="l-header">
  <ul class="l-sub-cart">
    <li class="l-sub-cart__item">
      <a href="javascript:void(0)">Правила и льготы</a>
    </li>

    <li class="l-sub-cart__item">
      <a href="javascript:void(0)">
        <span href="javascript:void(0)" class="l-sub-cart__basket"></span>
        <em>2 товара</em>
      </a>
    </li>
  </ul>

  <a class="l-header__logo" href="javascript:void(0)">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 481.89 65.695"><path d="M0 43.86v2.96h21.413v-2.96c-3.81 0-3.81-2.904-3.81-4.962V5.025H32.42v33.873c0 2.058 0 4.96-3.805 4.96v2.963h21.407v-2.96c-4.11 0-5.02-2.903-5.02-4.96V7.924c0-2.056.91-4.96 5.02-4.96V0H0v2.966c4.113 0 5.02 2.903 5.02 4.96v30.972c0 2.058-.907 4.96-5.02 4.96M64.907 27.1c-7.56 1.27-11.974 4.9-11.974 10.77 0 4.897 3.504 9.675 10.04 9.675 4.054 0 8.47-1.752 10.59-5.683.964 3.023 4.472 5.683 8.224 5.683 3.205 0 6.352-1.085 7.98-3.02v-3.75c-.905.363-1.57.538-2.054.538-2.357 0-3.022-2.534-3.022-5.5V23.775c0-8.472-6.597-11.19-15.97-11.19-7.744 0-13.79 2.298-13.79 6.713 0 1.876 1.15 3.753 3.506 5.02h3.205l3.875-7.134c.727-.55 1.815-.85 2.843-.85 2.478 0 4.355 1.756 4.355 7.622v3.267l-7.805-.124zm7.805 11.735c-1.15 1.15-2.48 2.118-4.053 2.118-1.817 0-3.87-1.453-3.87-4.415 0-4.96 3.442-5.747 7.92-6.414v8.71zm17.72 24.015v2.843h21.535V62.85c-3.927 0-4.775-2.72-4.775-4.722V46.094c2.36.97 4.537 1.45 6.957 1.45 11.307 0 16.21-7.075 16.21-18.083 0-8.59-4.48-16.875-13.31-16.875-1.514 0-2.84.24-4.598 1.15l-5.928 5.02v-5.807l-16.03 1.694v2.843c3.933 0 4.72 2.72 4.72 4.716v35.93c0 2-.847 4.72-4.782 4.72m16.758-36.84c.057-3.81 1.026-6.41 4.595-6.41 4.3 0 6.297 4.238 6.297 10.226 0 6.045-.793 13.188-6.116 13.188-1.632 0-3.386-.79-4.775-2.06V26.01zm60.298-.598c0 1.09.916 2.042 2.122 2.042 1.15 0 2.002-.95 2.002-2.042 0-1.15-.852-2.058-2.002-2.058-1.206 0-2.122.91-2.122 2.058"/><path d="M133.02 43.978v2.845h20.383v-2.845c-3.928 0-3.627-2.722-3.627-4.72v-7.804l1.694-.177c1.75 4.047 6.05 14.394 10.886 15.545h11.613v-2.845c-4.658-2.78-8.828-6.472-11.25-13.61l-6.838-2.237 6.173-3.145c2.357-4.9 5.868-7.682 10.462-8.834v-2.84h-15.97v2.843c.97 0 3.573.79 3.63 1.997l-8.768 9.197-1.635.483v-6.96c0-1.996-.062-4.72 3.87-4.72v-2.84H133.02v2.843c3.932 0 4.778 2.724 4.778 4.72v18.39c0 1.996-.846 4.718-4.78 4.718m281.247-.002v2.845H435.8v-2.845c-3.934 0-4.777-2.722-4.777-4.72V17.48h5.196c1.15-.054 1.813.61 2.363 1.58l3.63 6.772h2.718l1.456-12.523h-32.122v2.846c3.936 0 4.777 2.72 4.777 4.715v18.39c0 1.997-.84 4.72-4.776 4.72M211.81 5.02c1.452 0 2.543.36 3.39 1.813l3.932 7.742h3.026l1.39-14.575H187.07v3.145c4.116 0 5.022 2.902 5.022 4.958v30.793c0 2.057-.906 4.956-5.022 4.956v2.968h22.623v-2.968c-4.11 0-5.016-2.9-5.016-4.956V5.022h7.134zm164.56 11.132v-2.847h-15.967v2.847c.968 0 3.567.784 3.63 1.995l-8.77 9.192-1.633.484V20.87c0-2-.062-4.717 3.87-4.717v-2.847h-20.63v2.847c3.934 0 4.782 2.72 4.782 4.718v18.39c0 1.995-.85 4.718-4.783 4.718v2.84h20.38v-2.84c-3.924 0-3.62-2.723-3.62-4.72v-7.802l1.814-.182c1.45 3.57 5.987 14.522 10.765 15.543h11.61v-2.84c-5.564-1.57-7.98-10.646-11.79-14.034l-5.69-1.754 7.56-7.383c3.994-3.448 6.05-4.413 8.47-4.654m105.52 13.85c0-7.924-4.174-17.42-17.357-17.42-8.41 0-17.36 5.264-17.36 17.546 0 7.92 4.172 17.42 17.36 17.42 8.406 0 17.357-5.267 17.357-17.547m-22.44.786c0-6.413-.062-14.58 5.082-14.58 4.292 0 5.08 6.84 5.08 13.13 0 6.41.06 14.58-5.08 14.58-4.297-.003-5.082-6.84-5.082-13.13m-46.965-.787c0-7.925-4.172-17.422-17.364-17.422-8.41 0-17.353 5.267-17.353 17.55 0 7.922 4.172 17.42 17.355 17.42 8.41 0 17.365-5.263 17.365-17.546M395.12 43.917c-4.29 0-5.08-6.836-5.08-13.128 0-6.41-.06-14.58 5.08-14.58 4.297 0 5.083 6.84 5.083 13.13 0 6.41.067 14.576-5.082 14.576m-96.154-27.762c3.937 0 4.782 2.72 4.782 4.718V39.26c0 1.995-.846 4.716-4.782 4.716v2.842h7.865c1.577 0 4.963.12 7.38.12h1.03c1.94 0 4.477.12 5.325.12 8.468 0 14.815-4.108 14.815-11.67 0-7.5-6.47-10.826-13.246-10.826l-6.407 1.206v-4.896c0-2 .844-4.718 4.772-4.718v-2.847h-21.536v2.847zm16.762 12.64c.36-.062.785-.062 1.146-.062 4.536 0 6.594 3.63 6.594 7.38 0 3.446-1.512 6.837-5.265 6.898-.54 0-1.81-.062-2.476-.303V28.794zm-95.99 1.336c0 7.92 4.173 17.418 17.36 17.418 8.408 0 17.358-5.265 17.358-17.544 0-7.925-4.174-17.422-17.358-17.422-8.41 0-17.363 5.265-17.363 17.547m22.443-.79c0 6.41.06 14.577-5.08 14.577-4.3 0-5.083-6.836-5.083-13.128 0-6.413-.06-14.58 5.082-14.58 4.292 0 5.08 6.84 5.08 13.13m29.993-16.394l-16.03 1.696v2.842c3.93 0 4.718 2.72 4.718 4.716v35.932c0 2-.843 4.72-4.778 4.72v2.843h21.534v-2.842c-3.934 0-4.777-2.722-4.777-4.72v-12.04c2.36.965 4.54 1.453 6.96 1.453 11.31 0 16.208-7.077 16.208-18.087 0-8.59-4.474-16.878-13.31-16.878-1.513 0-2.84.24-4.593 1.15l-5.93 5.02v-5.807zm.666 13.064c.06-3.81 1.027-6.412 4.596-6.412 4.297 0 6.29 4.238 6.29 10.224 0 6.047-.785 13.19-6.108 13.19-1.632 0-3.386-.787-4.777-2.062V26.01z"/></svg>
  </a>

  <a class="l-header__shop-logo" href="javascript:void(0)">Магазин</a>

</header>
