<a class="m-shop-unit {{class}}" href="javascript:void(0)">
  <figure class="m-shop-unit__figure">
    <img src="https://placeimg.com/290/290/any"/>
  </figure>
  <section class="m-shop-unit__container">
    <section class="m-shop-unit__centered">
      <h2 class="m-shop-unit__title">Товар</h2>
      <small class="m-shop-unit__price">100 Р.</small>
    </section>
  </section>
</a>
