<header class="l-sub-header">
  <ul class="l-sub-cart l-sub-cart--tablet">
    <li class="l-sub-cart__item">
      <a href="javascript:void(0)">Правила и льготы</a>
    </li>

    <li class="l-sub-cart__item">
      <a href="javascript:void(0)">
        <span class="l-sub-cart__basket"></span>
        <em>2 товара</em>
      </a>
    </li>
  </ul>

  <figure class="l-sub-dropdown js-dropdown">

    <button class="l-sub-dropdown-trigger js-dropdown-trigger" onClick={this._onTrigger}>
      <span>Все категории</span>
      <em class="l-sub-dropdown-arrow"></em>
    </button>

    <ul class="l-sub-dropdown-list js-dropdown-list">
      <li class="l-sub-dropdown-item">
        <a class="l-sub-dropdown-link link-active" href="javascript:void(0)">Все категории</a>
      </li>

      <li class="l-sub-dropdown-item">
        <a class="l-sub-dropdown-link" href="javascript:void(0)">Коллекции</a>
      </li>

      <li class="l-sub-dropdown-item">
        <a class="l-sub-dropdown-link" href="javascript:void(0)">Категория</a>
      </li>

      <li class="l-sub-dropdown-item">
        <a class="l-sub-dropdown-link" href="javascript:void(0)">Все товары</a>
      </li>
    </ul>

  </figure>

  <ul class="l-sub-navigation">
    <li class="l-sub-navigation__item">
      <a class="l-sub-navigation__link active" href="javascript:void(0)">Коллекции</a>
    </li>
    <li class="l-sub-navigation__item">
      <a class="l-sub-navigation__link" href="javascript:void(0)">Категория</a>
    </li>
    <li class="l-sub-navigation__item">
      <a class="l-sub-navigation__link" href="javascript:void(0)">Все товары</a>
    </li>
  </ul>
</header>
