%button {
  transition: background-color .3s ease 0s;
  will-change: background-color;
  height: 50px;
  line-height: 50px;
  margin: 10px auto;
  padding: 0;
  border: 0;
  clear: both;
  box-shadow: 0;
  background-color: $white;
  display: block;
  text-transform: uppercase;
  color: $base-text-color;
  letter-spacing: tracking(60);
  text-align: center;
  font: {
    family: $sans-serif;
    size: 14px;
  }

  &:hover {
    background-color: #faedd4;
  }
}
