%figure {
  position: relative;
  overflow: hidden;

  img {
    @include position(absolute, 50% null null 50%);
    @include transform(translate(-50%, -50%));
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none;
    z-index: 0;
  }
}
