@import './settings/settings';

@include font-face('ALSDirectGorkyPark', '/fonts/ALSDirectGorkyPark/regular');
@include font-face('PTSerif', '/fonts/PTSerif/regular');
@include font-face('PTSerif', '/fonts/PTSerif/bold', bold);
@include font-face('PTSerif', '/fonts/PTSerif/italic', normal, italic);
@include font-face('PTSerif', '/fonts/PTSerif/bolditalic', bold, italic);

@import '../../node_modules/modularized-normalize-scss/normalize';
@import './mixins/omega-reset';

html {
  box-sizing: border-box;
}

* {
  &,
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dedede;
  color: $base-text-color;
  min-width: $min-width;
  font: {
    size: $base-font-size;
    family: $base-font-family;
  }
}

h1 {
  margin: 0;
  font-size: 44px;
}

a,
button {
  outline: 0;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.md-no-border { 
  border: 0 !important;
}

@import './layouts/l-container';
@import './layouts/l-header';
@import './layouts/l-nav';
@import './layouts/l-footer';
@import './layouts/l-root';
@import './layouts/l-sub-header';
@import './layouts/l-body';
@import './layouts/l-aside';
@import './layouts/l-sub-dropdown';

@import './modules/m-collection';
@import './modules/m-shop-unit';
@import './modules/m-page-title';
@import './modules/m-empty-cart';
@import './modules/m-cart';
@import './modules/m-order';
@import './modules/m-sub-title';
@import './modules/m-social-links';
@import './modules/m-slider';
@import './modules/m-units-slider';
